/* bottomNav */
.bottomNav {
    background-color:var(--background);
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.bottomNav button {
    padding:5px 20px;
    border-radius:25px;
    font-size:2.0rem;
    background-color:white;
    margin:0;
}
/* Copy Paste Section */
.CopyPasteWrapper {
    background-color:var(--background);
    margin-top:50px;
    height:100%;
}
.CopyPasteContainer {
    width:100%;
    margin:0 auto;
    height:90%;
}
.CopyPasteTitle{
    text-align:center;
    font-size:4.0rem;
    padding:0 25px;
}
.CopyPasteType {
    font-size:2.0rem;
    background-color:var(--sideBackground);
}
.CopyPasteEach {
    margin:50px auto;
}
.CopyPasteEach textarea {
    font-size:1.5rem;
    width:100%;
    background-color:rgb(11, 13, 44);
    color:white;
}