
.firstLastName {
    display: flex;
    margin-bottom: 10px;
}

.firstLastName .firstNameDiv,
.firstLastName .lastNameDiv {
    display: flex;
    flex-direction: column;
    width: 49%;
}

/* .firstLastName .firstNameDiv {
    margin-left: 2%;
} */

.firstLastName .lastNameDiv {
    margin-left: 2%;
}

.subtitle,
.email {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


.socialMedia {
    margin-bottom: 10px;
}


.socialMedia div {
    display: inline-flex;
    flex-direction: column;
    width: 24%;
    margin-left: 1%;
}
