
.firstLastName {
    display: flex;
    margin-bottom: 10px;
}

.firstLastName .firstNameDiv,
.firstLastName .lastNameDiv {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.firstLastName .lastNameDiv {
    margin-left: 2%;
}

.subtitle,
.email {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.socialMedia,
.socialMediaTwo {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.socialMedia div {
    display: inline-flex;
    flex-direction: column;
    width: 32%;
}
.socialMediaTwo div{
    display: inline-flex;
    flex-direction: column;
    width: 49%;

}
