a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lato&display=swap');
:root{
    --background: #E7605C;
    --sideBackground: #161B25;
    --accentBlue: #7672F7;
}
html {
  font-size:62.5%;
  font-family: 'Lato', sans-serif; 
  color:white;
}
a {
    text-decoration:none;
    color:white;
}
p {
    font-size:2.0rem;
}

/* .wrapper {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
} */
/* Side Header Area*/
.mainGrid {
    display:grid;
    grid-template-columns: 2fr 4fr;
    height: 100vh;
}

section {
    display: flex;
    justify-content: center;
}

.mainContent {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    
}

header {
    background-color:var(--sideBackground);
    text-align:center;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
header h1 {
    font-size:3.0rem;
    padding-left:25px;
}
header img {
    width:50px;
    justify-content:right;
}

.titleContainer {
    display:flex;
    width:60%;
    margin:0 auto;
    align-items:center;
    padding:0px 0px 25px 0px;
}

.sectionContainer {
    width:60%;
    margin:0 auto;
}
.sectionContainer li {
    display:flex;
    padding:50px 0 0;
    align-items:center;
}
.sectionContainer p {
    margin-left:25px;
}
.sectionBubble {
    background-color:var(--background);
    width:25px;
    height:25px;
    border-radius: 50%;
}

.landingPage h2 {
    font-size: 3rem;
    color: #E7605C;
    margin-bottom: 4rem;
    text-align: left;
}

.landingPage p {
    margin: 2rem 0;
    text-align: left;
}

.landingPage p span {
    color: #7672F7;
}
/* Main */
.formContainer ,
.innerFormContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formContainer {
    align-items: center;
    background-color:var(--background);
    position: relative;
}
.innerFormContainer {
    justify-content: start;
    height: 98%;
    width: 98%;
    margin-top: 50px !important;
}
.formWrapper {
    max-width: 900px;
    width: 95%;
    margin: 0 auto;
}

.formContainer h1 {
    font-size: 30px;
    margin: 0 30px 35px;
    text-align: center;
}
/* Nav Area*/
nav {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

button,
.button {
    margin: 25px 30px;
    padding: 16px 45px;
    font-size: 16px;

    color: #161B25;
    border: 1px solid darkgray;
    border-radius: 15px;
    box-shadow: 0 0 1px grey;
    display: inline-block;
    transition: width 2s ease-in 3s;  
}
button:hover,
button:focus,
.button:hover,
.button:focus{
    translate: 2px -1px;
    box-shadow:-.5px .5px 5px var(--accentBlue);
}
button.back:hover,
button.back:focus,
.button.back:hover,
.button.back:focus {
    translate: -2px -1px;
    box-shadow:.5px .5px 5px var(--accentBlue);
}

.buttonDiv {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

/* User input Area*/
label {
    margin: 10px 10px 10px 0;
    font-size: 16px;
}

input,
select {
    height: 35px;
    border-radius: 2px;
    border: none;
    font-size: 16.5px;
    padding-left: 10px;
}

input:hover,
input:focus,
select:hover,
select:focus {
    border: 1px solid darkgray;
    padding-left: 9px;
}






/* Footer Styles*/
footer{
    background-color:var(--sideBackground);
}
.footerLinks {
    display:grid;
    grid-template-columns:1fr 1fr;
    width:80%;
    margin:0 auto;
}
.footerLinks ul {
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.footerLinks li {
    padding-left:50px;
    font-size:2.0rem;
}
.footerLinks img {
    width:50px;
}
a:hover {
    color:var(--accentBlue);
}

@media only screen and (max-width: 1300px) {
        .imageContainer {
        margin: 4px;
        height:100px;
        width:100px;
    }
    .ShowImages img{
        height:100px;
        width:100px;
    }
}

@media only screen and (max-width: 1000px) {
    .sectionContainer {
        width:80%;
    }
    .landingPage h2 {
        margin-bottom:2rem;
    }
    .socialMedia {
        flex-wrap:wrap;
    }
    .styleOptions h1 {
        margin-bottom:10px;
    }
    .imageContainer {
        margin: 3px;
        height:90px;
        width:90px;
    }
    .ShowImages img{
        height:90px;
        width:90px;
    }
}